body {
	font-family: Helvetica, sans-serif;
}

#modal {
	width: 500px;
	min-height: 100px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 3px;
	text-align: center;
}

#modal > #modal-header {
	margin: 0px 0px 25px 0px;
}

h2 {
	font-size: 200%
}

#modal > #modal-header > p {
	margin: 6.25px 0px 0px 0px;
}

/*#modal > p {
	
}*/

#modal > #modal-footer {
	margin: 25px 0px 0px 0px;
}

#modal ul {
	list-style: none;
	margin: 0px auto;
}

#modal ul li {
	float: left;
	width: 100px;
	height: 20px;
	padding: 10px;
	margin: 0px 19px;
	border: 1px solid #000;
	border-radius: 3px;
	background-color: #fff;
}

.button-link {
	text-decoration: none;
	color: inherit;
}

#modal ul li:hover {
	border: 1px solid #000;
	background-color: #28B78D;
	color: #000;
}

#close:hover {
	cursor: pointer;
}

header {
	min-width: 1200px; /* same width as #all */
	min-height: 50px;
	margin: 0px 0px 25px 0px;
	padding: 10px 0px 10px 0px;
	text-align: center;
	/*background-color: green;*/
}

h1 {
	font-size: 200%;
}

header p {
	padding: 3px;
}

.f0 {
	color: #243743;
}

.f1 {
	color: #28B78D;
}

#all {
	width: 100%; 
	min-width: 1200px; /* sould be same as #all-viz */
	min-height: 775px; /* sould be same as #co-viz and #detail-viz */
}

#all-viz {
	/*max-width: 95%;*/
	width: 1200px; /* sould be same as #co-viz + #detail-viz + margin*/
	min-height: 775px; /* sould be same as #co-viz and #detail-viz */
	margin: 0px auto;
}

#co-viz {
	width: 775px;
	height: 775px;
	float: left;
	/*background-color: #28B78D;*/
}

#detail-viz {
	min-width: 400px;
	min-height: 775px; /* sould be .detail-viz * 3 + margin */
	float: right;
}

.detail-viz {
	width: 400px;
	/*height: 225px;*/
	margin: 25px 0px 25px 25px;
	/*background-color: purple;*/
}

#cat-viz {
	margin-top: 175px;
	height: 210px;
}

#map-viz {
	height: 180px;
}

#line-viz {
	margin-bottom: 0px;
	height: 160px;
}

#sorter{
	position: relative;
	z-index: 2;
	/*width: 100px;
	height: 20px;*/
	top:150px;
	left:10px;
}

footer {
	min-width: 1200px; /* same width as #all */
	min-height: 50px;
	margin: 50px 0px 0px 0px;
	text-align: center;
	background-color: #28B78D;
}

footer p {
	padding: 3px;
}

.link {
	text-decoration: underline;
	color: inherit;
}

.link:hover {
	text-decoration: underline;
	color: #243743;
}
